@charset "UTF-8";
/**
 * Sfeir Override theme for reveal.js.

 * By Jean-François Garreau : jefBinomed
 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas.ttf");
}
@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolaz.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata-Regular.ttf");
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
.reveal {
  font-family: "Poppins", "Helvetica Neue", Helvetica, "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4,
.reveal .slides section.with-code h1, .reveal .slides section.with-code h2 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: "sfeir";
  src: url("../fontello-sfeir/font/sfeir.eot?23854124");
  src: url("../fontello-sfeir/font/sfeir.eot?23854124#iefix") format("embedded-opentype"), url("../fontello-sfeir/font/sfeir.woff2?23854124") format("woff2"), url("../fontello-sfeir/font/sfeir.woff?23854124") format("woff"), url("../fontello-sfeir/font/sfeir.ttf?23854124") format("truetype"), url("../fontello-sfeir/font/sfeir.svg?23854124#sfeir") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
* Custom Properties
*/
:root {
  --code-bg: #3f3f3f;
  --light-grey: #ddd;
  --white: white;
  --medium-grey: #817c7c;
  --black: #434343;
  --dark-grey: #2a3244;
  --dark-grey-alpha: rgba(61, 67, 73, 0.7);
  --red: #e74c3c;
  --sfeir-pink: #dd3355;
  --sfeir-blue: #575eaa;
  --sfeir-green: #0ab580;
}

/**
* Custom Properties
*/
:root {
  --backgroundColor: #FFF;
  --mainFont: Poppins, sans-serif;
  --mainFontSize: 40px;
  --mainColor: white;
  --blockMargin: 20px;
  --headingMargin: 0 0 20px 0;
  --headingFont: Poppins, Impact, sans-serif;
  --headingColor: white;
  --headingLineHeight: 1.2;
  --headingLetterSpacing: normal;
  --headingTextTransform: uppercase;
  --headingTextShadow: none;
  --headingFontWeight: normal;
  --heading1TextShadow: none;
  --heading1Size: 3.77em;
  --heading2Size: 2.11em;
  --heading3Size: 1.55em;
  --heading4Size: 1em;
  --linkColor: #575eaaff;
  --linkColorHover: #9b9fcc;
  --selectionBackgroundColor: rgba(140, 191, 240, 0.8);
  --selectionColor: #fff;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #FFF;
}

.reveal {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: white;
}

::selection {
  color: #fff;
  background: rgba(140, 191, 240, 0.8);
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: rgba(140, 191, 240, 0.8);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: white;
  font-family: "Poppins", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 3.77em;
}

.reveal h2 {
  font-size: 2.11em;
}

.reveal h3 {
  font-size: 1.55em;
}

.reveal h4 {
  font-size: 1em;
}

.reveal h1 {
  text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
}

.reveal code {
  font-family: monospace;
  text-transform: none;
  padding: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal pre code {
  display: block;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}

.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #575eaaff;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: #9b9fcc;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #3d4278;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #575eaaff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #575eaaff;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #575eaaff;
}

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #FFF;
  }
}

/*# sourceMappingURL=sfeir-overrides.css.map */
